<%if (data.icon) {
    %><img src="//yandex.st/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" class="nb-icon nb-icon_<%- data.icon %> nb-icon_size_<%- data.size %>" /><%
} else {
    %><img src="//yandex.st/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" class="nb-icon nb-icon_<%- data %> /><%
}%>
